donnees/valider.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="library">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="poursuites">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="poursuite">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="id_poursuite" type="xs:string" />
                    <xs:element name="business_id" type="xs:string" />
                    <xs:element name="date" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                    <xs:element name="adresse" type="xs:string" />
                    <xs:element name="date_jugement" type="xs:string" />
                    <xs:element name="etablissement" type="xs:string" />
                    <xs:element name="montant" type="xs:string" />
                    <xs:element name="proprietaire" type="xs:string" />
                    <xs:element name="ville" type="xs:string" />
                    <xs:element name="statut" type="xs:string" />
                    <xs:element name="date_statut" type="xs:string" />
                    <xs:element name="categorie" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>